/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

/* The whole bar */
#waybar {
    background: #2f343f;
    color: #f3f4f5;
    font-family: Ubuntu, FreeMono, sans-serif;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#custom-temperature,
#tray {
    padding-left: 10px;
    padding-right: 10px;
    border-left: solid 1px #454545;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

*.warning {
    color: #2f343f;
    background-color: #e5c07b;
}

*.critical {
    background-color: #e06c75;
}

#cpu {
    min-width: 50px;
}

#mode {
    background: #e06c75;
    color: #f3f4f5;
}

#pulseaudio.muted {
    color: #676e7d; 
}

#workspaces button {
    font-size: 1rem;
    padding: 2px 5px;
    color: #676e7d;
    background-color: #2f343f;
}

#workspaces button:hover {
    background-color: #f3f4f5;
    color: #676e7d;
}

#workspaces button.focused {
    background-color: #f3f4f5;
    color: #676e7d;
}

#workspaces button.urgent {
    background-color: #e06c75;
    color: #f3f4f5;
}
