/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-size: 1rem;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: #f3f4f5;
    font-family: Ubuntu, sans-serif;
}

.modules-left {
    background: rgba(47, 52, 63, 0.85);
    padding: 2px 0px;
    margin: 1px 2px 0px 2px;
    border-radius: 20px;
}

.modules-right {
    background: rgba(47, 52, 63, 0.85);
    margin: 1px 2px 0px 2px;
    border-radius: 20px;
}

/* Each module */
#battery,
#clock,
#cpu,
#memory,
#network,
#custom-temperature,
#date,
#pulseaudio {
    margin: 1px 0px;
    padding: 6px 12px;
    border-right: solid 1px #676e7d;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#cpu.warning,
#memory.warning,
#custom-temperature.warning,
#battery.warning {
    color: #2f343f;
    background-color: #e5c07b;
    border-color: #e5c07b;
}

#cpu.critical,
#memory.critical,
#custom-temperature.critical,
#battery.critical {
    background-color: #e06c75;
    border-color: #e06c75;
}

#cpu {
    min-width: 50px;
}

#mode {
    background: #e06c75;
    color: #f3f4f5;
    padding: 0px 10px;
    margin: 0px 2px 0px 4px;
    border-radius: 20px;
}

#pulseaudio {
    margin-left: 8px;
}

#pulseaudio.muted {
    color: #676e7d;
}

#tray {
    margin: 1px 16px 1px 12px;
}

#workspaces button {
    font-size: 1rem;
    padding: 0px 10px;
    margin: 0px 2px;
    color: #676e7d;
    border-radius: 20px;
}

#workspaces button:hover {
    background-color: #f3f4f5;
    color: #676e7d;
}

#workspaces button.focused {
    background-color: #f3f4f5;
    color: #676e7d;
}

#workspaces button.urgent {
    background-color: #e06c75;
    color: #f3f4f5;
}
