* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-size: 1rem;
    font-weight: normal;
}

#waybar {
    background: transparent;
    color: #f3f4f5;
    font-family: Ubuntu Nerd Font, sans-serif;
}

/* Left container */
.modules-left {
    background: rgba(47, 52, 63, 1);
    padding: 3px 4px;
    margin: 3px 4px;
    border-radius: 16px;
}

/* Workspaces */
#workspaces {
    background: transparent;
    margin: 2px 0px;
}

#workspaces button {
    background: #3c424f;
    color: #7f8490;
    border-radius: 16px;
    padding: 2px 12px;
    margin: 0 2px;
}

#workspaces button:hover,
#workspaces button.focused {
    background-color: #f3f4f5;
    color: #2f343f;
}

#workspaces button.urgent {
    background-color: #e06c75;
    color: #f3f4f5;
}

/* Taskbar */
#taskbar {
    margin: 0px;
    padding: 0px;
}

#taskbar button {
    padding: 3px 5px 3px 7px;
    margin: 0px 2px;
    border-radius: 0px;
    background: transparent;
}

/* Clearance between workspaces and first icon */
#taskbar button:first-child {
    margin-left: 6px;
}

/* Clearance before outer capsule rounded corner */
#taskbar button:last-child {
    margin-right: 6px;
}

#taskbar button image {
    padding: 0;
    margin: 0;
}

/* Hovered application matches active application: solid white bottom line indicator */
#taskbar button:hover,
#taskbar button.active {
    background: transparent;
    border-radius: 0px;
    box-shadow: inset 0 -2px 0 0 #ffffff;
}

#mode {
    background: #e06c75;
    color: #f3f4f5;
    padding: 3px 8px;
    margin: 0px 0px;
    border-radius: 16px;
}

/* Right container */
.modules-right {
    background: rgba(47, 52, 63, 1);
    padding: 4px;
    margin: 3px 4px;
    border-radius: 16px;
}

/* Right modules base */
#battery,
#clock,
#cpu,
#memory,
#network,
#temperature,
#date,
#pulseaudio,
#tray {
    background: #3c424f;
    margin: 0px 2px;
    padding: 6px 12px;
    border-radius: 16px;
}

/* Audio */
#pulseaudio {
    color: #f3f4f5;
}

#pulseaudio.muted {
    color: #676e7d;
}

/* System metrics */
#cpu,
#memory,
#temperature {
    color: #f3f4f5;
    min-width: 36px;
}

#cpu.warning,
#memory.warning,
#temperature.warning {
    background-color: #e5c07b;
    color: #2f343f;
}

#cpu.critical,
#memory.critical,
#temperature.critical {
    background-color: #e06c75;
    color: #f3f4f5;
}

/* Battery */
#battery {
    background-color: #98c379;
    color: #2f343f;
}

#battery.warning {
    background-color: #e5c07b;
    color: #2f343f;
}

#battery.critical {
    background-color: #e06c75;
    color: #f3f4f5;
}

/* Clock & Tray */
#clock {
    background-color: #e5c07b;
    color: #2f343f;
}

#tray {
    padding: 3px 8px;
}
